<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.svoemestodev.catscitycalc"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name="com.svoemestodev.catscitycalc.GlobalApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_catscalcicon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_catscalcicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="q"
        >

        <service android:enabled="true" android:name=".CityCalcService"/>
        <service android:exported="false" android:name=".OverlayShowingService"/>

        <activity android:name=".activities.WorkBuildingActivity" />
        <activity android:name=".activities.TeamUserActivity" />
        <activity android:name=".activities.ManageTeamActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2870168293382158~9528759362" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> <!-- version -->
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="ocr" /> <!-- barcode,face,ocr -->
        <activity
            android:name=".activities.EditTeamActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <activity
            android:name=".activities.WorkTeamActivity"
            android:label="@string/team"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.EditUserActivity"
            android:label="@string/open_login"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.EditCarActivity" />
        <activity
            android:name=".activities.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.GameActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ColorsdetectActivity"
            android:label="@string/sett_colors"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.BordersActivity"
            android:label="@string/sett_borders"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CalibrateActivity"
            android:label="@string/sett_calibrate_center_screen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.StrategyActivity"
            android:label="@string/strategic_planning"
            android:screenOrientation="portrait" />
    </application>

</manifest>